{{ $deadline := .Get 0 }}
{{ $id := .Get 1 | default "countdown" }}
{{- if not ($.Page.Scratch.Get "countdown") }}
{{- $.Page.Scratch.Add "countdown" 1 -}}
{{- $script := resources.Get "js/countdown.js" -}}
<script type="text/javascript">{{ ($script | minify | fingerprint).Content | safeJS }}</script>
{{- end -}}
<div class="hugo-nimrod-countdown" id="{{ $id }}">
  <div><span class="days">0</span><div class="smalltext">{{- i18n "days" -}}</div></div>
  <div><span class="hours">0</span><div class="smalltext">{{- i18n "hours" -}}</div></div>
  <div><span class="minutes">0</span><div class="smalltext">{{- i18n "minutes" -}}</div></div>
  {{ if .Get 2 }}
  <div><span class="seconds">0</span><div class="smalltext">{{- i18n "seconds" -}}</div></div>
  {{ end }}
</div>
<script type="text/javascript">countdown('{{ $id }}', '{{ $deadline }}');</script>
